<div class="form-inline my-2 my-lg-0 align-items-center justify-content-center ">
  <input class="form-control mr-sm-2 busqueda" type="search" placeholder="buscar" aria-label="Search" name="termPalacio" [(ngModel)]="termPalacio">
</div>
<table class="table  table-Light table-bordered table-striped" >
  <thead class="table-estilo text-white">
    <tr >
        <th>Imagen</th>
        <th>Nombre Municipio</th>
        <th>Telefono</th>
        <th><i class="bi bi-pencil"></i></th>
        <th><i class="bi bi-trash"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-white " *ngFor="let palacio of palacios | filtroPalacio:termPalacio">
        <td>{{palacio.imagen}} </td>
        <td>{{palacio.nombre_municipio}} </td>
        <td>{{palacio.telefono}}</td>
        <td *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_PRESIDENTE'])">  
          <button type="button" name="editar" [routerLink]="['/palacioMunicipal/formPalacio',palacio.id]" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button>
        </td>   
        <td *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_PRESIDENTE'])">  
          <button type="button" name="eliminar"  class="btn btn-danger btn-sm" (click)='eliminarPalacio(palacio)'><i class="bi bi-trash"></i></button>
        </td>
    </tr>
  </tbody>
</table>
<app-paginador-palaciomunicipal *ngIf="paginador" [paginador]="paginador"></app-paginador-palaciomunicipal>
