<div class="row justify-content-center align-items-center">
  <form class=" example-form ">
    <mat-form-field class="example-full-width " appearance="fill">
      <mat-label class="text-dark row justify-content-center align-items-center">Buscar Contribucion</mat-label>
      <input type="text"
             placeholder="seleccionar Contribucion"
             aria-label="Number"
             matInput
             [formControl]="autoCompletado"
             [matAutocomplete]="auto"
             > 
        <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</form>
</div>
<table class="table  table-Light table-bordered table-striped" >
    <thead class="table-estilo text-white">
      <tr >
          <th>Codigo</th>
          <th>Concepto</th>   
          <th>Tipo Pago</th>
          <th>Descripcion</th>
          <th>Tipo Aprovechamiento</th>
          <th>Cantidad</th>
          <th>Editar</th>
          <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-white " *ngFor="let contribucion of contribuciones">
          <td>{{contribucion.codigo_contribucion}} </td>
          <td>{{contribucion.concepto_contribucion}}</td>
          <td>{{contribucion.tipo_pago}}</td>
          <td>{{contribucion.descripcion}}</td> 
          <td>{{contribucion.scatalogo}}</td> 
          <td>{{contribucion.cantidad}}</td> 
          <td>
            <button type="button" name="editar" [routerLink]="['/multa/FormMulta',contribucion.codigo_contribucion]" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button>
          </td> 
          <td>  
            <button type="button" name="eliminar"  class="btn btn-danger btn-sm" (click)='eliminarContribucion(contribucion)'><i class="bi bi-trash"></i></button>
          </td> 
      </tr>
    </tbody>
  </table> 
  <app-paginador-multa *ngIf="paginador" [paginador]="paginador"></app-paginador-multa>
