@import "~bootstrap-icons/font/bootstrap-icons.css";
.table-estilo{
    background-color: rgb(75, 69, 198);
}

.table-white{
    background-color: white; 
    /**font-weight: bold; */
}

.busqueda{
  display: inline; 
  width: 40%;
  margin-bottom: 1rem;
}



.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }

  .example-full-width {
    width: 100%;
    

  }
  .fondo{
    background-color: rgb(159, 158, 243);
  }

  .mat-option{
    background-color: white;
    color:black;
  }

  .mat-option:hover{
    background-color: rgb(71, 92, 229);
   color:white;
    
  }


      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
          color: red!important;
      }
  