<div class="form-inline my-2 my-lg-0 align-items-center justify-content-center ">
  <input class="form-control mr-sm-2 busqueda" type="search" placeholder="buscar" aria-label="Search" name="termVehicular" [(ngModel)]="termVehicular">
</div>
<table class="table  table-Light table-bordered table-striped" >
    <thead class="table-estilo text-white">
      <tr >
          <th>Codigo</th>
          <th>Concepto</th>   
          <th>Tipo Pago</th>
          <th>Descripcion</th>
          <th>Tipo</th>
          <th>Tipo Vehiculo</th>
          <th>Articulo</th>
          <th>Uma min</th>
          <th>Uma max</th>
          <th *ngIf="authService.hasRole(['ROLE_ADMIN'])"><i class="bi bi-pencil"></i></th>
          <th *ngIf="authService.hasRole(['ROLE_ADMIN'])"><i class="bi bi-trash"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-white " *ngFor="let contribucion of contribuciones | filtroContribuciones:termVehicular">
          <td>{{contribucion.codigo_contribucion}} </td>
          <td>{{contribucion.concepto_contribucion}}</td>
          <td>{{contribucion.tipo_pago}}</td>
          <td>{{contribucion.descripcion}}</td> 
          <td>{{contribucion.scatalogo}}</td> 
          <td>{{contribucion.svehiculo}}</td> 
          <td>{{contribucion.descripcion_articulo}}</td> 
          <td>{{contribucion.uma_min}}</td> 
          <td>{{contribucion.uma_max}}</td> 
          <td *ngIf="authService.hasRole(['ROLE_ADMIN'])">
            <button type="button" name="editar" [routerLink]="['/multaVehicular/FormMVehicular',contribucion.codigo_contribucion]" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button>
          </td> 
          <td *ngIf="authService.hasRole(['ROLE_ADMIN'])">  
            <button type="button" name="eliminar"  class="btn btn-danger btn-sm" (click)='eliminarContribucion(contribucion)'><i class="bi bi-trash"></i></button>
          </td> 
      </tr>
    </tbody>
  </table> 
  <app-paginador-vehicular *ngIf="paginador" [paginador]="paginador"></app-paginador-vehicular>

