.color {
    color:black;
    margin-left: 1rem;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .mat-tab-group {
    color: rgb(248, 11, 11);
    margin-bottom: 48px;
  }

  .mat-tab-label{
    color: #4910e5;
    opacity: 1.0;
}

.step-own li{
  margin-right: 3rem;
}

.step-own li:hover{
  background-color: aqua;
}