<ng-container *ngIf="!authService.isAuthenticated() else blockLogeado">
    <router-outlet></router-outlet>
</ng-container>
<ng-template #blockLogeado>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-4 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a routerLink="inicio" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">{{titulo}}</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a routerLink="inicio" class="nav-link align-middle px-0">
                                <i class="bi bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_TESORERO','ROLE_PRESIDENTE'])">
                            <a routerLink="captura" class="nav-link align-middle px-0">
                                <i class="bi bi-cash-coin"></i> <span class="ms-1 d-none d-sm-inline">Cobro Contribucion</span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_TESORERO','ROLE_PRESIDENTE'])">
                            <a routerLink="registroFolio-captura" class="nav-link align-middle px-0">
                                <i class="bi bi-book-fill"></i> <span class="ms-1 d-none d-sm-inline">Registrar Folio</span>
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_CONTADOR','ROLE_PRESIDENTE'])">
                          <a href="#submenur" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi bi-activity"></i> <span class="ms-1 d-none d-sm-inline">Reportes</span> </a>
                          <ul class="collapse nav flex-column ms-1" id="submenur" data-bs-parent="#menu">
                              <li class="w-100">
                                  <a routerLink="reportes" class="nav-link px-0"><i class="bi bi-filetype-pdf"></i> <span class="d-none d-sm-inline">Reportes contribuciones</span></a>
                              </li>
                              <li>
                                  <a routerLink="reportes-contribuyente"  class="nav-link px-0"> <i class="bi bi-filetype-pdf"></i><span class="d-none d-sm-inline">Reportes contribuyentes</span></a>
                              </li>
                          </ul>
                      </li>


                        <li>
                            <a href="#submenuContribucion" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="bi bi-journal-text"></i> <span class="ms-1 d-none d-sm-inline">Contribuciones</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenuContribucion" data-bs-parent="#menu">
                                <li>
                                    <a href="#submenuImpuesto" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                        <i class="bi bi-list"></i> <span class="ms-1 d-none d-sm-inline">Impuesto</span></a>
                                    <ul class="collapse nav flex-column ms-1" id="submenuImpuesto" data-bs-parent="#submenuContribucion">
                                        <li >
                                            <a routerLink="impuestos" class="nav-link px-0 align-middle"><i class="bi bi-circle-fill"></i><span class="ms-1 d-none d-sm-inline">lista Impuestos Contribucion</span></a>
                                        </li>
                                        <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                                            <a routerLink="impuestos/FormImpuesto" class="nav-link px-0"><i class="bi bi-circle-fill"></i> <span class="d-none d-sm-inline">Nuevo Impuesto Contribucion</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#submenuDerechos" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                        <i class="bi bi-list"></i> <span class="ms-1 d-none d-sm-inline">Derechos</span></a>
                                    <ul class="collapse nav flex-column ms-1" id="submenuDerechos" data-bs-parent="#submenuContribucion">
                                        <li>
                                            <a href="#submenuDerechoG" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                              <i class="bi bi-caret-right-fill"></i><span class="ms-1 d-none d-sm-inline">Derecho General</span></a>
                                            <ul class="collapse nav flex-column ms-1" id="submenuDerechoG" data-bs-parent="#submenuDerechos">
                                                <li class="w-100">
                                                    <a routerLink="derechosGeneral" class="nav-link px-0"> <span class="d-none d-sm-inline">lista Derechos Generales</span></a>
                                                </li>
                                                <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                                                    <a routerLink="derechosGeneral/FormDerechoG" class="nav-link px-0"> <span class="d-none d-sm-inline">Nuevo Derecho General</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#submenuDerechoL" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                              <i class="bi bi-caret-right-fill"></i><span class="ms-1 d-none d-sm-inline">Derecho Licencia</span></a>
                                            <ul class="collapse nav flex-column ms-1" id="submenuDerechoL" data-bs-parent="#submenuDerechos">
                                                <li class="w-100">
                                                    <a routerLink="derechosLicencia" class="nav-link px-0"> <span class="d-none d-sm-inline">lista Derechos Licencias</span></a>
                                                </li>
                                                <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                                                    <a routerLink="derechosLicencia/FormDerechoL" class="nav-link px-0"> <span class="d-none d-sm-inline">Nuevo Derecho Licencia</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#submenuAprovechamiento" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                        <i class="bi bi-list"></i> <span class="ms-1 d-none d-sm-inline">Aprovechamiento</span></a>
                                    <ul class="collapse nav flex-column ms-1" id="submenuAprovechamiento" data-bs-parent="#submenuContribucion">
                                        <li>
                                            <a href="#submenuMulta" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                              <i class="bi bi-caret-right-fill"></i><span class="ms-1 d-none d-sm-inline">Aprovechamiento Multa</span></a>
                                            <ul class="collapse nav flex-column ms-1" id="submenuMulta" data-bs-parent="#submenuAprovechamiento">
                                                <li class="w-100">
                                                    <a routerLink="multa" class="nav-link px-0"> <span class="d-none d-sm-inline">lista Multa General</span></a>
                                                </li>
                                                <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                                                    <a routerLink="multa/FormMulta" class="nav-link px-0"> <span class="d-none d-sm-inline">Nueva Multa General</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#submenuVehicular" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                              <i class="bi bi-caret-right-fill"></i><span class="ms-1 d-none d-sm-inline">Multa Vehicular</span></a>
                                            <ul class="collapse nav flex-column ms-1" id="submenuVehicular" data-bs-parent="#submenuAprovechamiento">
                                                <li class="w-100">
                                                    <a routerLink="multaVehicular" class="nav-link px-0"> <span class="d-none d-sm-inline">lista Multa Vehicular</span></a>
                                                </li>
                                                <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                                                    <a routerLink="multaVehicular/FormMVehicular" class="nav-link px-0"> <span class="d-none d-sm-inline">Nueva Multa Vehicular</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#submenuEbriedad" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                              <i class="bi bi-caret-right-fill"></i><span class="ms-1 d-none d-sm-inline">Multa Ebriedad</span></a>
                                            <ul class="collapse nav flex-column ms-1" id="submenuEbriedad" data-bs-parent="#submenuAprovechamiento">
                                                <li class="w-100">
                                                    <a routerLink="multaEbriedad" class="nav-link px-0"> <span class="d-none d-sm-inline">lista Multa Ebriedad</span></a>
                                                </li>
                                                <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                                                    <a routerLink="multaEbriedad/FormMEbriedad" class="nav-link px-0"> <span class="d-none d-sm-inline">Nueva Multa Ebriedad</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#submenuOtrosProductos" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                        <i class="bi bi-list"></i> <span class="ms-1 d-none d-sm-inline">Otros Productos</span></a>
                                    <ul class="collapse nav flex-column ms-1" id="submenuOtrosProductos" data-bs-parent="#submenuContribucion">
                                        <li class="w-100">
                                            <a routerLink="otrosProductos" class="nav-link px-0"> <span class="d-none d-sm-inline">lista Otros Productos</span></a>
                                        </li>
                                        <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                                            <a routerLink="otrosProductos/FormOtrosProductos" class="nav-link px-0"> <span class="d-none d-sm-inline">Añadir Otros Productos</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="bi bi-person-bounding-box"></i> <span class="ms-1 d-none d-sm-inline">Contribuyentes</span> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a routerLink="contribuyentes" class="nav-link px-0"> <span class="d-none d-sm-inline">Listar Personas Fisicas</span></a>
                                </li>
                                <li>
                                    <a routerLink="contribuyentesMoral"  class="nav-link px-0"> <span class="d-none d-sm-inline">Listar Personas Moral</span></a>
                                </li>
                                <li *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_PRESIDENTE','ROLE_TESORERO'])">
                                    <a routerLink="contribuyentes/contribuyenteF/form" class="nav-link px-0"> <span class="d-none d-sm-inline">Agregar Persona Fisica</span></a>
                                </li>
                                <li *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_PRESIDENTE','ROLE_TESORERO'])">
                                    <a routerLink="contribuyentes/contribuyenteM/form" class="nav-link px-0"> <span class="d-none d-sm-inline">Agregar Persona Moral</span></a>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_PRESIDENTE'])">
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="bi bi-person-video2"></i> <span class="ms-1 d-none d-sm-inline">Empleados</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a routerLink="empleados" class="nav-link px-0"> <span class="d-none d-sm-inline">Listar empleados</span></a>
                                </li>
                                <li>
                                    <a routerLink="empleados/formEmpleados" class="nav-link px-0"> <span class="d-none d-sm-inline">Agregar Empleado</span></a>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="bi bi-bank2"></i> <span class="ms-1 d-none d-sm-inline">Palacio Municipal</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a routerLink="palacioMunicipal" class="nav-link px-0"> <span class="d-none d-sm-inline">Listar palacios Municipales</span></a>
                                </li>
                                <li>
                                    <a routerLink="palacioMunicipal/formPalacio" class="nav-link px-0"> <span class="d-none d-sm-inline">Agregar palacio Municipal</span></a>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="bi bi-person-lines-fill"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span> </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a routerLink="usuario" class="nav-link px-0"> <span class="d-none d-sm-inline">Listar Usuario</span></a>
                                </li>
                                <li *ngIf="authService.hasRole(['ROLE_ADMIN'])">
                                    <a routerLink="usuario/formUsuario" class="nav-link px-0"> <span class="d-none d-sm-inline">Agregar Usuario</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <!--aqui empezaba un comentario hasta abajo del div de Sign out-->
                </div>
            </div>
            <div class="col py-3 fondo text-center">
                <app-alerts></app-alerts>
                <app-navigation></app-navigation>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</ng-template>
