@import "~bootstrap-icons/font/bootstrap-icons.css";
.skeleton-content{
    min-height: calc(100vh - 60px - 60px);
    background-color: rgb(215, 215, 240);
}

.fondo{
    background-color: rgb(246, 246, 246);
  }



