<app-alerts></app-alerts> 
<div class="main-container">
    <div class="center">
        <h4 class="tittle"> INTRODUCE TU NUEVA CONTRASEÑA</h4>
        <div class="form-container">
                <div class=" username"> 
                    <input  #password="ngModel" (keyup)="validarContrasena()" [(ngModel)]="newPassword.password" type="password" class="user-input" name="password" id="password" placeholder="Contraseña" autofocus required>
                    <div  class="alert alert-danger" *ngIf="!banderaPassword && (password.dirty || password.touched)">
                        <div *ngIf="!banderaPassword">
                            la contraseña debe tener una longitud minima de 8 caracteres
                            y debe contener al menos: una mayuscula,
                           una minuscula ,un numero y un caracter especial
                        </div>
                    </div>
                </div>
                <div class=" username">
                    <input [(ngModel)]="newPassword.confirmarPassword" type="password" class="user-input" name="username" id="username" placeholder="repetir contraseña" autofocus required>
                </div>
            </div>
            <button autofocus (click)='onChangePassword(newPassword)' type="submit">Cambiar Contraseña</button>
    </div>
</div>
