*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: #740432;
    background-size: cover;
    height: 100vh;
}

.center{
    position: absolute;
    width: 360px;
    height: 380px;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    background: #FFFFFF;
    border-radius: 25px;
    text-align: center;
}

.tittle{
    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 145px;
    align-items: center;
    font-family: "Sansation", sans-serif;
    color: #740432;
}

.logo{
    width: 120px;
    height: 120px;
    margin-top: -40px;
}

input[type="text"],
input[type="password"]{
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    color: #740432;
    padding: 20px 10px 20px 5px;
    border: 2px solid #740432;
    width: 280px;
    height: 45px;
    margin: 15px;
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    font-family: "Scheherazade New", serif;
}

::placeholder{
    color: #909497;
    font-size: 18px;
}

button{
    width: 260px;
    height: 45px;
    left: 1273px;
    top: 780px;
    font-family: "Sansation", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    color: #c8c6bb;
    border: none;
    background: #740432;
    border-radius: 25px;
}

button:hover{
    cursor: pointer;
    background: #a3585b;
    color: #ECF0F1;
}

.link{
    text-align: center;
    display: block;
    margin: 18px;
    color: #2874A6;
    font-family: "Scheherazade New", serif;
    font-weight: bold;
    text-decoration: none;
}