<!--SEGUNDO-->
<!-- MultiStep Form -->
<div class="card bg-light">
  <ul id="progressbar">
    <li id="account"><strong>Calcular presupuesto</strong></li>
    <li class="active" id="personal"><strong>Formato de pago</strong></li>
  </ul>
  <div class="card-body">
    <form>
      <div>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-people" ></i>   Nombre</span>
          <input type="text" class="form-control" placeholder="Nombre del Contribuyente">
        </div>
      </div>
      <div class="row g-2 mt-3">
        <div class="col-4">
          <div class="input-group">
            <span class="input-group-text">R.F.C</span>
            <input type="text" class="form-control" placeholder="RFC Contribuyente">
          </div>
        </div>
        <div class="col-8">
          <div class="input-group">
            <span class="input-group-text"><span class="bi bi-geo-alt-fill"></span></span>
            <input name="calle" type="text" class="form-control" placeholder="Dirección contribuyente">
          </div>
        </div>
      </div>
      <div class="row g-2 mt-3">
        <div class="col-12">
          <div class="input-group">
            <span class="input-group-text">Concepto</span>
            <input name="concepto" type="text" class="form-control" placeholder="Concepto">
          </div>
        </div>
      </div>
      <div class="row g-2 mt-3">
        <div class="col-4">
          <div class="input-group">
            <span class="input-group-text">Fecha</span>
            <input name="calle" type="text" class="form-control" placeholder="Fecha">
          </div>
        </div>
        <div class="col-4">
          <div class="input-group">
            <span class="input-group-text">Folio</span>
            <input name="folio" type="text" class="form-control" placeholder="Folio">
          </div>
        </div>
        <div class="col-4">
          <div class="input-group">
            <span class="input-group-text">Total $</span>
            <input name="total" type="text" class="form-control" placeholder="total">
          </div>
        </div>
      </div>
      <div class="form-group row mt-3">
        <div class="col-sm-2">
          <input type="submit" class="btn btn-primary" (click)="irCobroContribucion()" value="  Cancelar  ">
        </div>
        <div class="col-sm-2">
          <input type="submit"  class="btn btn-primary" value="Generar Linea de pago">
        </div>
      </div>
    </form>
  </div>
</div>