   <!--<div class="my-2 text-left">
    <ng-container *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_PRESIDENTE'])">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['formEmpleados']" >  Añadir Empleado</button>
    </ng-container> 
  
     </div>
     -->
    <h2 class="text-center">LISTA DE EMPLEADOS</h2>
    <table class="table  table-Light table-bordered table-striped" >
      <thead class="table-estilo text-white">
        <tr >
            <th>CURP</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>   
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-white " *ngFor="let empleado of empleados">
            <td>{{empleado.curp}} </td>
            <td>{{empleado.nombre}} </td>
            <td>{{empleado.apellido_p}}</td>
            <td>{{empleado.apellido_m}}</td> 
            <td *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_PRESIDENTE'])">  
              <button type="button" name="editar" [routerLink]="['/empleados/formEmpleados',empleado.curp]" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button>
            </td> 
            <td *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_PRESIDENTE'])">  
              <button type="button" name="eliminar"  class="btn btn-danger btn-sm" (click)='eliminarEmpleado(empleado)'><i class="bi bi-trash"></i></button>
            </td>
        </tr>
      </tbody>
    </table>
    <empleado-paginador *ngIf="paginador" [paginador]="paginador"></empleado-paginador>
