<div class="container-fluid  mx-auto">
    <div class="row d-flex justify-content-center">
        <div class=" col-lg-11 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">{{titulo}}</h5>
                
                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">RFC<span class="text-danger"> *</span></label> <input (keyup)="onKey($event)" [disabled]="idFound?true:false" type="text"  name="rfc" placeholder="RFC" [(ngModel)]="contribuyenteMoral.rfc_contribuyente" required minlength="13" maxlength="13" #rfc="ngModel">
                            <div class="alert alert-danger" *ngIf="rfc.invalid && (rfc.dirty || rfc.touched)">
                                <div *ngIf="rfc.errors.required">
                                    El RFC es requerido
                                </div>
                                <div *ngIf="rfc.errors.minlength || rfc.errors.maxlength">
                                    El RFC debe tener 13 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Razon social<span class="text-danger"> *</span></label> <input (keyup)="onKey($event)" type="text"  name="razon" placeholder="razón social" [(ngModel)]="contribuyenteMoral.razon_social" required #razon="ngModel">
                            <div class="alert alert-danger" *ngIf="razon.invalid && (razon.dirty || razon.touched)">
                                <div *ngIf="razon.errors.required">
                                    La Razón Social es requerida
                                </div>
                            </div>
                        </div>
                    </div> 
  
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Calle<span class="text-danger"> *</span></label> <input (keyup)="onKey($event)" type="text" name="calle" placeholder="Calle" [(ngModel)]="contribuyenteMoral.calle" required #calle="ngModel">
                            <div class="alert alert-danger" *ngIf="calle.invalid && (calle.dirty || calle.touched)">
                                <div *ngIf="calle.errors.required">
                                    El nombre de la calle es requerida
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-2 flex-column d-flex"> <label class="form-control-label px-3">Numero<span class="text-danger"></span></label> <input type="text" name="numero" placeholder="#" [(ngModel)]="contribuyenteMoral.numero"> </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Colonia<span class="text-danger"> *</span></label> <input (keyup)="onKey($event)" type="text" name="colonia" placeholder="Colonia" [(ngModel)]="contribuyenteMoral.colonia" required #colonia="ngModel">
                            <div class="alert alert-danger" *ngIf="colonia.invalid && (colonia.dirty || colonia.touched)">
                                <div *ngIf="colonia.errors.required">
                                    El nombre de la colonia es requerida
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-2 flex-column d-flex"> <label class="form-control-label px-3">CP<span class="text-danger"> *</span></label> <input type="number" name="cp" placeholder="Cp" [(ngModel)]="contribuyenteMoral.codigo_postal" required #cp="ngModel">
                            <div class="alert alert-danger" *ngIf="cp.invalid && (cp.dirty || cp.touched)">
                                <div *ngIf="cp.errors.required">
                                    El Codigo postal es requerido
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"></div>
                        <div class="form-group col-sm-4 flex-column d-flex">
                            <button #buttonCrear [disabled]="vacio()" [ngClass]="buttonCrear.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='createMoral()' *ngIf="!contribuyenteMoral.id_contribuyente_moral else elseBlockM">Añadir</button>
                        </div>
                        <div class="form-group col-sm-4 flex-column d-flex">
                            <button type="button" class="btn-block btn-danger" (click)='irContribuyentes()'  >Cancelar</button>
                        </div>
                    </div> 
                    
                    <ng-template #elseBlockM>
                        <button #buttonUpdate [disabled]="vacio()" [ngClass]="buttonUpdate.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='updateM()' >Actualizar</button>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>
</div>

