<div class="container-fluid  mx-auto">
    <div class="row d-flex justify-content-center">
        <div class=" col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">AÑADIR MULTA VEHICULAR CONTRIBUCION</h5>
                
                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Codigo<span class="text-danger"> *</span></label> <input type="text"  name="codigo" placeholder="codigo" [(ngModel)]="contribucion.codigo_contribucion"> </div>
                        <div class="form-group col-sm-8 flex-column d-flex"> <label class="form-control-label px-3">Descripcion<span class="text-danger"> *</span></label> <input type="text"  name="concepto" placeholder="descripcion" [(ngModel)]="contribucion.concepto_contribucion" > </div>
                    </div>
                    <div class="row justify-content-between text-left"> 
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Pago<span class="text-danger"> *</span></label> 
                            <select  [compareWith]="compararPago" name="tipago" [(ngModel)]="contribucion.id_tipo_pago"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Pago --</option>
                                <option *ngFor="let tPago of tipoPagos" [ngValue]="tPago.id_pago">{{tPago.nombre_pago}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Concepto<span class="text-danger"> *</span></label> 
                            <select  [compareWith]="compararDescripcion" name="descripcion" [(ngModel)]="contribucion.id_descripcion"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Concepto --</option>
                                <option *ngFor="let descripcion of descripciones" [ngValue]="descripcion.id_catalogo">{{descripcion.descripcion}}</option>
                            </select> 
                        </div>
                    </div>
                    <div class="row justify-content-between text-left"> 
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Aprovechamiento<span class="text-danger"> *</span></label> 
                            <select  [compareWith]="compararTAprovechamiento" name="tiaprovechamiento" [(ngModel)]="contribucion.id_catalogo"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Aprovechamiento --</option>
                                <option *ngFor="let tAprovechamiento of tAprovechamientos" [ngValue]="tAprovechamiento.id_catalogo">{{tAprovechamiento.descripcion}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Vehiculo<span class="text-danger"> *</span></label> 
                            <select  [compareWith]="compararTVehiculo" name="tivehiculo" [(ngModel)]="contribucion.tipo_vehiculo"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Vehiculo --</option>
                                <option *ngFor="let tVehiculo of tVehiculos" [ngValue]="tVehiculo.id_tipo_vehiculo">{{tVehiculo.nombre_vehiculo}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Descripcion Articulo<span class="text-danger"> *</span></label> <input type="text"  name="articulo" placeholder="articulo" [(ngModel)]="contribucion.descripcion_articulo" style="height: 50px;"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Uma min<span class="text-danger"> *</span></label> <input type="number"  name="umamin" placeholder="uma min" [(ngModel)]="contribucion.uma_min" > </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Uma max<span class="text-danger"> *</span></label> <input type="number"  name="umamax" placeholder="uma max" [(ngModel)]="contribucion.uma_max" > </div>
                    </div>
                    <div class="row justify-content-between text-left">  
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger">. </span></label><button type="submit" class="btn-block btn-primary" (click)='create()' *ngIf="!idFound else elseBlock">Agregar</button> </div>
                        <ng-template #elseBlock>
                            <button type="submit" class="btn-block btn-primary" (click)='update()' >Actualizar</button>
                            <button type="button" class="btn-block btn-primary" (click)="irAprovechamiento()" >Cancelar</button>
                        </ng-template>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div> 
